html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.badge-low {
    background-color: #0dcaf0 !important; /* Light blue */
    color: #000 !important;
}

.badge-medium {
    background-color: #ffc107 !important; /* Yellow */
    color: #000 !important;
}

.badge-high {
    background-color: #dc3545 !important; /* Standard red */
    color: #fff !important;
}

.badge-urgent {
    background-color: #8B0000 !important; /* Deep dark red */
    color: #fff !important;
}

.badge-open {
    background-color: #198754 !important; /* Green */
    color: #fff !important;
}

.badge-resolved {
    background-color: #6c757d !important; /* Gray */
    color: #fff !important;
}

.badge-closednoresolve {
    background-color: #7b0000 !important; /* Dark red  */
    color: #fff !important;
}

.badge {
    border-radius: 0.5rem;
    font-size: 0.85rem;
    padding: 0.4rem 0.75rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .badge:hover {
        transform: scale(1.05);
    }
